<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>


    <header>
        
        <div class="logo-buscador-mano">
        <div class="logo-buscador">
        <div class="logo-liebre"><img src="/img/logo-mercado-liebre.svg" alt="Logo de mercado Liebre"></div>
        
            <div class="buscador">
                <input type="text" placeholder="Buscar productos, marcas">
                <button><div><i class="fas fa-search"></i></div></button>
            </div>
        
        </div>
        <ul class="lista"><li class="manos"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</li></ul>
        </div>



        <nav class="main-navbar">
        <ul class="lista">
            
            <li class="ocultar"><a href="">Ofertas</a></li>
            <li class="ocultar"><a href="">Tiendas Oficiales</a></li>
            <li class="ocultar"><a href="">Vender</a></li>
            <li class="ocultar"><a href="">Ayuda</a></li>
        
        </ul>
        <ul class="lista">
            
            <li class="ocultar"><a href="/formulario">Crea tu cuenta <div><i class="far fa-user"></i></div></a></li>

            <li class="ocultar"><a href="/a">Ingresa <i class="fas fa-angle-right"></i></a></li>
            <li class="ocultar"><a href=""> <div>Mis compras </div><div><i class="fas fa-shopping-cart"></i></div>  </a> </li> 
           
        </ul>
    </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
    
    <div><img src="/img/home-banner.jpg" alt="imagen de banner"></div>
    
    
    <div class="section">
    <section >
        <h1>Basado en tu última visita</h1>
        <div class="contenedor-articulos">
        <div  class="articulo">
            <figure>
                <img src="/img/cafetera-moulinex.jpg" alt="Imagen de Cafetera">
            </figure>
            <div class="elementos-articulo">
                <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                <div class="precio-descuento">
                <div class="precio">$6.770</div>
                <div class="descuento">40% OFF</div>
            </div>
                <h3>Cafetera Moulinex</h3>
            </div>
           
        </div>
    
        <div class="articulo">
            <figure>
                <img src="/img/macbook-pro-2019.jpg" alt="Imagen de Macbook">
            </figure>
            <div class="elementos-articulo">
                <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                <div class="precio-descuento">
                <div class="precio">$230.000</div>
                <div class="descuento">20% OFF</div>
                </div>
                <h3>Macbook Pro 2019</h3>
            </div>
        </div>
    
        <div class="articulo">
            <figure>
                <img src="/img/samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy S10">
            </figure>
            <div class="elementos-articulo">
                <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                <div class="precio-descuento">
                <div class="precio">$70.500</div>
                <div class="descuento">10% OFF</div>
                </div>
                <h3>Samsung Galaxy S10</h3>
            </div>
        </div>
    
        <div class="articulo">
            <figure>
                <img src="/img/tv-samsung-smart.jpg" alt="Imagen de SmartTV">
            </figure>
            <div class="elementos-articulo">
                <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                <div class="precio-descuento">
                <div class="precio">$23.200</div>
                <div class="descuento">5% OFF</div>
                </div>
                <h3>SmartTV Samsung 43</h3>
            </div>
        </div>
        </div>
    </section>
    
    <section>
        <h1>Ofertas</h1>
        <div class="contenedor-articulos">
    
        <div class="articulo">
            <figure>
                <img src="/img/cafetera-moulinex.jpg" alt="Imagen de Cafetera">
            </figure>
            <div class="elementos-articulo">
                <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                <div class="precio-descuento">
                <div class="precio">$6.770</div>
                <div class="descuento">40% OFF</div>
                </div>
                <h3>Cafetera Moulinex</h3>
            </div>
        </div>
    
        <div class="articulo">
            <figure>
                <img src="/img/macbook-pro-2019.jpg" alt="Imagen de Macbook">
            </figure>
            <div class="elementos-articulo">
                <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                <div class="precio-descuento">
                <div class="precio">$230.000</div>
                <div class="descuento">20% OFF</div>
                </div>
                <h3>Macbook Pro 2019</h3>
            </div>
        </div>
    
        <div class="articulo">
            <figure>
                <img src="/img/samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy">
            </figure>
            <div class="elementos-articulo">
                <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                <div class="precio-descuento">
                <div class="precio">$70.500</div>
                <div class="descuento">10% OFF</div>
                </div>
                <h3>Samsung Galaxy S10</h3>
            </div>
        </div>
    
        <div class="articulo">
            <figure>
                <img src="/img/tv-samsung-smart.jpg" alt="Imagen de SmartTV">
            </figure>
            <div class="elementos-articulo">
                <div class="camion"><i class="fa fa-truck" aria-hidden="true"></i></div>
                <div class="precio-descuento">
                <div class="precio">$23.200</div>
                <div class="descuento">5% OFF</div>
                </div>
                <h3>SmartTV Samsung 43</h3>
            </div>
        </div>
        </div>
    </section>
    </div>
  </main>  

    
    
    
    <footer>
        <div  class="elementos-footer">
        <section>
            <div class="icono"><i class="fas fa-credit-card"></i></div>
            <h4>Paga con tarjeta o efectivo</h4>
            <p>Con Mercado Liebre Cash, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <div class="icono"><i class="fas fa-gift"></i></div>
            <h4>Envío gratis desde $2500</h4>
            <p>Solo por estar registrado en Mercado Liebre tienes envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <div class="icono"><i class="fas fa-user-shield"></i></div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
        </section>
        </div>
        <section class="copy">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
    

</body>
</html>