body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;  
    align-items: center; 
    min-height: 100vh; 

    
}


div {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0022AA;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #f0f0f0;
}

.perfil{
    box-sizing: border-box;
}
.usuario{
    box-sizing: border-box;
}
a{
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}